
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to Destiny Focus</h1>
      <p>You are logged in.</p>
      <p>Choose a track to focus on: PvP, Gambit, Raid.</p>
    </div>
</div><!-- /.jumbotron -->

<div class="container">
  <div id="app-root">
  </div>
  <div class="card-wrapper">
    <div id="card-root-1" class="crucible card"></div>
    <div id="card-root-2" class="gambit card"></div>
    <div id="card-root-3" class="raid card"></div>
  </div>
  <div id="character_plate"></div>
  
</div>
{% endblock %}

