
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
    
      <h1 class="display-3">Welcome to Destiny Focus</h1>
    
      <p>You are logged in.</p>
      <p>Choose a track to focus on: PvP, Gambit, PvE.</p>
      <p><a href="https://github.com/cookiecutter-flask/cookiecutter-flask" class="btn btn-primary btn-large">Select a track &raquo;</a></p>
    </div>
</div><!-- /.jumbotron -->

<div class="container">
  <div id="app-root">
  </div>
  <div id="character_plate"></div>
  
</div>
{% endblock %}

