{
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": ["warn", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
    "@typescript-eslint/no-unused-vars": "off",
    "no-confusing-arrow": ["error", {"allowParens": true}],
    // No props validation - yet:
    "react/prop-types": 0,

    // Missing semicolon - these are too MLG for me:
    "semi": 0,
    // Don't care about LF CRLF:
    "linebreak-style": 0,
    // Don't name class functions: _internalFunc()
    // "no-underscore-dangle": 0,

    // Change max line length to 120:
    "max-len": ["error", { "code": 120 }]
    
    // Remove?? :
    // "no-param-reassign": 0,
    // "import/no-extraneous-dependencies": 0,
    // "import/prefer-default-export": 0
    // "consistent-return": 0,
    // "no-confusing-arrow": 0,
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "__dirname": true,
    "jQuery": true,
    "$": true
  }
}
