{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:import/typescript",
    "airbnb-base",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:css-modules/recommended",
    "plugin:radar/recommended"
  ],
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "react-redux",
    "css-modules",
    "radar"
  ],
  "rules": {
    "max-len": ["error", { "code": 160 }],
    "import/extensions": 0,
    "no-unused-vars": ["warn", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
    "no-use-before-define": "off",
    "no-confusing-arrow": ["error", {"allowParens": true}],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_.",
        "argsIgnorePattern": "^_.",
        "ignoreRestSiblings": true
      }
    ],
    "@typescript-eslint/no-use-before-define": ["error", { "functions": false }],
    "react/prop-types": 0,
    "radar/no-small-switch": "off",
    "radar/no-duplicate-string": "off",
    "semi": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "__dirname": true,
    "jQuery": true,
    "$": true
  }
}
