<footer>
  <small>
  <ul class="company">
    <li>© Allyn Hunt</li>
  </ul>

    <ul class="footer-nav">

      <li><a href="{{ url_for('public.about') }}" >About</a></li>
      <li><a href="https://github.com/AllynH/destiny_focus" target="_blank" rel="noopener noreferrer">GitHub</a></li>
      <li><a href="https://github.com/AllynH/destiny_focus/issues" target="_blank" rel="noopener noreferrer">GitHub - log issue</a></li>
      <li><a href="https://twitter.com/Allyn_H_" target="_blank" rel="noopener noreferrer">Twitter</a></li>

    </ul>
  </small>
</footer>
