.account-button{
    background: var(--crucible-red);
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--grey-bg);
    width: 100px;
    text-align: center;    
}

.character-select-class-power{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.character-select-power-level{
    color: #DDCB59;
    margin-left: auto;
}