.account-button{
    background: var(--crucible-red);
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--grey-bg);
    width: 100px;
    text-align: center;
}

.character-select-class-power{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.character-select-power-level{
    color: var(--bungie-power);
    margin-left: auto;
}

.card-list{
    margin: 0;
    padding: 10;
}

.character-select-platform-wrap{
    display: flex;
    flex-direction: column;
}
.char-select-list{

}
.char-select-list-item{
    list-style-type: none;
    padding: 10px 10px;
    float: left;
}

.selected-character{
    /* border: 1px solid var(--bungie-power); */
    -webkit-box-shadow: 0 10px 6px -6px var(--bungie-power);
    -moz-box-shadow: 0 10px 6px -6px var(--bungie-power);
    box-shadow: 0 10px 6px -6px var(--bungie-power) !important;
}
