
{% extends "layout.html" %}

{% block content %}

<div class="welcome-content">
  <div class="main-root" id="main-root"></div>
  <div class="welcome-wrapper">
    <h1>I am Allyn Hunt</h1>
    <p>I am a Father, Maker, Engineer, from Ireland.
  </br> I built Destiny Focus as a labour of love, for the Destiny gaming and development Community.</p>
    <p>Please get in touch and say hi :)</p>
    <h3>Return to <a class='link-style-none' href="{{ url_for('public.home') }}" >Destiny Focus</a></h3>
  </div>
</div>



{% endblock %}

