/* Welcome wrapper */
.welcome-content {
  display: flex;
  flex-direction: row;
  height: 550px;
  }
.welcome-content-image-wrapper{
  position: relative;
  width: 90%;
  height: 550px;
}
.welcome-image-placement{
  position: absolute;
  top: 50px;
  right: 0px;
}
/* Desktop: */
@media screen and (min-width: 600px) {
  .welcome-image{
    width: 450px;
    height: 450px;
    /* fill: rgba(200, 100, 100, 0.2); */
    /* fill: var(--crucible-red); */
    fill: var(--witch-queen-green);
    opacity: 50%;
  }
}

/* Mobile: */
@media screen and (max-width: 600px) {
  .welcome-image{
    width: 300px;
    height: 300px;
    fill: rgba(200, 200, 200, 0.4);
  }
}


  .welcome-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
  }

  .welcome-wrapper h2{
    padding: 0;
    margin: 0;
  }

  .welcome-wrapper h1{
    font-size: 4em;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
  }

  .welcome-button {
    background: var(--crucible-red);
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--grey-bg);
    width: 100px;
    text-align: center;
  }

  .welcome-text {
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 300;
  }

  .text_rotate::before {
    content: 'Crucible';
    color: rgba(0, 0, 0, 0);
    animation: text_rotation linear infinite 8s;
  }
  @keyframes text_rotation {
    10% {
      color: var(--grey-light-3);
    }
    20% {
      content: 'Raids';
      color: rgba(0, 0, 0, 0);
    }
    30% {
      color: var(--grey-light-3);
    }
    40% {
      content: 'K/D R';
      color: rgba(0, 0, 0, 0);
    }
    50% {
      color: var(--grey-light-3);
    }
    60% {
      content: 'Headshots';
      color: rgba(0, 0, 0, 0);
    }
    70% {
      color: var(--grey-light-3);
    }
    80% {
      content: 'Gambit';
      color: rgba(0, 0, 0, 0);
    }
    90% {
      color: var(--grey-light-3);
    }
  }
