.focus-goals-wrapper{
    background-color: var(--grey-dark-2);
    padding: 0px 10px;
    margin: 0px;
    box-shadow: 3px 3px 15px black;
    border-radius: 5px;
}

.focus-customize-message{
    padding: 10px  0px;
}

.focus-mismatch-warn{
    margin: 5px 0px;
    padding: 5px;
    border: 2px solid var(--crucible-dark-1);
    background-color: var(--crucible-dark-3);
    text-align: center;
}