.root{
    --bgImage: ''
}
.pgcr_splash-completed{
    border-left: var(--gambit-green) solid 4px;
    margin-right: 4px;
}

.pgcr_splash-failed{
    border-left: var(--crucible-red) solid 4px;
    margin-right: 4px;
}

.pgcr-splash-nf-score{
    margin: 20px 0 0 0;
    padding: 20px;
    border: solid 1px rgba( 255, 255, 255, .2);
}

.pgcr-splash-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: var(--pgcr-splash-height);
    /* filter: blur(8px); */
    z-index: 0;
    position: relative;
}

.pgcr-splash-wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    filter: blur(3px);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)) repeat scroll 0% 0%, rgba(0, 0, 0, 0) var(--bgImage) no-repeat scroll 0px 0px / cover;
}

.pgcr-splash-player-wrapper{
    z-index: 4;
    display: flex;
    flex-direction: column;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
}
.pgcr-weapon-wrapper{
    display: grid;
    grid-template-columns: 50px 3fr 1fr 1fr;
    align-items: center;
    justify-items: left
}

.hover-animation:hover{
    box-shadow: 0 0 0 2px var(--vanguard-light-5);
    transform: scale(1.015) translateZ(0);
    transition: box-shadow .25s,transform .25s;
}

.dark-transparent-bg{
    background-color: rgba( 0, 0, 0, .2);
}
.light-transparent-bg{
    background-color: rgba( 255, 255, 255, .2);
}

.pgcr-splash-character-dropdown-headings{
    display: grid;
    flex-direction: row;
    width:100%
}

@media screen and (min-width: 600px) {
    :root{
        --pgcr-splash-height: 600px;
        --pgcr-splash-width: 1180px;
        --pgcr-icon-height: 280px;
        --pgcr-icon-width: 280px;
    }

    .pgcr-splash-container{
        min-height: var(--pgcr-splash-height);
        width: var(--pgcr-splash-width);
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: 1fr 3fr;
        position: relative;
        z-index: 1;
    }
    .container-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid green; */
    }
    .container-left-game-icon{
        position: relative;
    }
    .game-icon-bg{
        height: var(--pgcr-icon-height);
        width: var(--pgcr-icon-width);
        border-radius: 50%;
        background-color: black;
        opacity: 40%;
        position: absolute;
        z-index: 0;
        border: solid 1px var(--crucible-red);
        filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    }

    .game-icon-diamond{
        height: var(--pgcr-icon-height);
        width: var(--pgcr-icon-width);
        transform: rotate(45deg);
        background-color: rgba(20, 20, 20, .8);
        opacity: 40%;
        position: absolute;
        z-index: 0;
        border: solid 1px var(--crucible-red);
        /* filter: drop-shadow( 3px 3px 2px rgba(20, 20, 20, .2)); */
    }
    .raid-icon-bg{
        top: 40px;
        left: 18px;
    }
    .pvp-icon-bg{
        top: 40px;
        left: 9px;
    }

    .pgcr-position-relative{
        position: relative;
        height: 100%;
    }
    .pgcr-splash-categories{
        display: grid;
        position: absolute;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .pgcr-category{
        border: solid 1px rgba( 255, 255, 255, .2);
        width: 100%;
    }

    .container-right-wrap{
        display: flex;
        flex-direction: column;
        height: 90%;
    }
    .container-right{
        height: 100%;
        position: relative;
        z-index: 2;
    }
    .team-icon-wrap{
        position: relative;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .alpha-icon-bg{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: black;
        opacity: 50%;
        z-index: 0;
    }
    .bravo-icon-bg{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        opacity: 80%;
        z-index: 0;
    }
    .pgcr-splash-team-wrap{
        display: flex;
        flex-direction: column;
    }
    .alpha-colour-banner{
        border-top: 5px solid white;
        background-color: var(--crucible-red);
        height: 20px;
        width: 100%;
    }
    .bravo-colour-banner{
        border-top: 5px solid white;
        background-color: var(--vanguard-blue);
        height: 20px;
        width: 100%;
    }
    .pgcr-splash-character-row{
        background-color: rgba( 255, 255, 255, .2);
        z-index: 4;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 4px 0px;
    }
    .pgcr-splash-character-details{
        display: grid;
        text-align: center;
        align-items: center;
    }
    .pgcr_splash_grid_4{
        grid-template-columns: 30px 25ch 1fr 1fr 1fr 1fr;
    }
    .pgcr_splash_grid_5{
        grid-template-columns: 30px 25ch 1fr 1fr 1fr 1fr 1fr;
    }
    .pgcr_splash_grid_6{
        grid-template-columns: 30px 25ch 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .pgcr_splash_grid_7{
        grid-template-columns: 30px 25ch 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .pgcr_splash_grid_8{
        grid-template-columns: 30px 25ch 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .team-icon-score-wrap{
        position: relative;
        height: 50px;
        display: flex;
        flex-direction: row;
        background-color: rgba(20, 20, 20 ,0.2);
    }
    .team-icon-score-pull-left{
        position: absolute;
        left: -100px;
        display: flex;
        align-items: center;
        background-color: rgba(20, 20, 20 ,0.2);
        border-radius: 50%;
        z-index: 3;
    }
    .team-score{
        margin-right: 5px;
    }
    .pgcr-splash-heading-wrap{
        position: relative;
    }
    .heading-underline{
        position: absolute;
        height: 50px;
        width: 30px;
        border-bottom: solid 4px rgba( 255, 255, 255, .4);
    }
    .pgcr-splash-match-result{
        border-bottom: none;
        margin: 10px 0;
    }

  }

/*
  Mobile devices:
*/

  @media screen and (max-width: 600px) {
    :root{
        --pgcr-splash-height: 450px;
        --pgcr-splash-width: 360px;
        --pgcr-icon-height: 280px;
        --pgcr-icon-width: 280px;
        --pgcr-splash-name-width: 25ch;
    }

    .pgcr-splash-container{
        min-height: var(--pgcr-splash-height);
        width: var(--pgcr-splash-width);
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: 1fr;
    }
    .container-left{
        position: absolute;
        z-index: 0;
        opacity: 20%;
        top: 150px;
        right: 50px;
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; */
        /* border: 1px solid green; */
    }
    .container-left-game-icon{
        position: relative;
    }
    .game-icon-bg{
        height: var(--pgcr-icon-height);
        width: var(--pgcr-icon-width);
        border-radius: 50%;
        background-color: black;
        opacity: 40%;
        position: absolute;
        top: 40px;
        right: 4px;
        z-index: 0;
        border: solid 1px var(--crucible-red);
        filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    }

    .game-icon-diamond{
        height: var(--pgcr-icon-height);
        width: var(--pgcr-icon-width);
        transform: rotate(45deg);
        background-color: rgba(20, 20, 20, .8);
        opacity: 40%;
        position: absolute;
        top: 40px;
        right: 4px;
        z-index: 0;
        border: solid 1px var(--crucible-red);
        /* filter: drop-shadow( 3px 3px 2px rgba(20, 20, 20, .2)); */
    }

    .pgcr-position-relative{
        position: relative;
        height: 100%;
    }
    .pgcr-splash-categories{
        display: grid;
        /* grid-template-columns: 25ch 1fr 1fr 1fr 1fr; */
        position: absolute;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .pgcr-category{
        border: solid 1px rgba( 255, 255, 255, .4);
        width: 100%;
    }
    .container-right{
        height: 100%;
    }
    .container-right-wrap{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .team-icon-wrap{
        position: relative;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .alpha-icon-bg{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: black;
        opacity: 50%;
        z-index: 0;
    }
    .bravo-icon-bg{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        opacity: 80%;
        z-index: 0;
    }
    .pgcr-splash-team-wrap{
        display: flex;
        flex-direction: column;
    }
    .alpha-colour-banner{
        border-top: 5px solid white;
        background-color: var(--crucible-red);
        height: 20px;
        width: 100%;
    }
    .bravo-colour-banner{
        border-top: 5px solid white;
        background-color: var(--vanguard-blue);
        height: 20px;
        width: 100%;
    }
    .pgcr-splash-character-row{
        background-color: rgba( 255, 255, 255, .2);
        z-index: 4;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 4px 0px;
    }
    .pgcr-splash-character-details{
        z-index: 0;
        display: grid;
        gap: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        align-items: center;
    }
    .pgcr_splash_grid_4{
        grid-template-columns: 30px 25ch 1fr 1fr 1fr 1fr;
    }
    .pgcr_splash_grid_5{
        grid-template-columns: 30px 25ch 1fr 1fr 1fr 1fr 1fr;
    }
    .pgcr_splash_grid_6{
        grid-template-columns: 30px 25ch 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .pgcr_splash_grid_7{
        grid-template-columns: 30px 25ch 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .pgcr_splash_grid_8{
        grid-template-columns: 30px 25ch 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .team-icon-score-wrap{
        position: relative;
        height: 50px;
        margin: 10px 0 5px 0;
        display: flex;
        flex-direction: row;
        background-color: rgba(20, 20, 20 ,0.2);
        align-items: center;
        z-index: 0;
    }
    .team-icon-score-pull-left{
        /* position: absolute; */
        /* left: -100px; */
        display: flex;
        align-items: center;
        background-color: rgba(20, 20, 20 ,0.2);
        border-radius: 50%;
        z-index: 3;
        padding-right: 20px;
    }
    .team-score{
        margin-right: 5px;
    }
    .pgcr-splash-heading-wrap{
        position: relative;
    }
    .heading-underline{
        position: absolute;
        height: 50px;
        width: 30px;
        border-bottom: solid 4px rgba( 255, 255, 255, .4);
    }
    .pgcr-splash-match-result{
        border-bottom: none;
        margin: 10px 0;
    }

  }

/*
  .pgcr-splash-container{
    height: var(--pgcr-splash-height);
    width: var(--pgcr-splash-width);
    border: 1px solid blue;

} */
