.progressions-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100px;
    justify-content: center;
}
.progressions-image {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}
.progressions-text-wrap{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.progressions-mode-title{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.progressions-step-name{
    text-transform: uppercase;
    font-weight: bolder;
}
.progressions-text{
    display: flex;
    flex-direction: row;
}
.progressions-title{
    padding-right: 4px;
}
.progressions-value{
    font-weight: lighter;
    color: var(--grey-light-3);
}


/* Desktop: */

@media screen and (min-width: 600px) {
    .progressions-chart-text-wrap{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top:10px
    }
    .progressions-item-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 20px;
    }    
}

/* Mobile: */
@media screen and (max-width: 600px) {
    .progressions-chart-text-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .progressions-item-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0px;
    }
}
