.progressions-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100px;
  justify-content: center;
}
.progressions-image {
  height: 50px;
  width: 50px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
.progressions-text-wrap {
  display: flex;
  flex-direction: column;
  padding: 4px;
}
.progressions-mode-title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

.progressions-step-name {
  text-transform: uppercase;
  font-weight: bolder;
}
.progressions-text {
  display: flex;
  flex-direction: row;
}
.progressions-title {
  padding-right: 4px;
}
.progressions-value {
  font-weight: lighter;
  color: var(--grey-light-3);
}

.overflowing{
  background: rgb(255,255,255);
}

.div-circle{
  border-radius: 50%;
}
.progress-bar-wrap{
  width: 100%;
  margin: -10px 0px;
}

/* Desktop: */
@media screen and (min-width: 600px) {
  .progressions-chart-text-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
  }
  .progressions-item-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

/* Mobile: */
@media screen and (max-width: 600px) {
  .progressions-chart-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .progressions-item-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 4px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .progressions-text {
    font-size: 14px;
  }
}
