.trials-card-wrapper {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.trials-card-heading {
  text-align: center;
  /* background-color: var(--bungie-power-dark-1); */
  width: 100%;
}

.trials-card-content-wrapper {
  /* width: 100%;
  height: 100%; */
  justify-content: center;
}

.trials-card-item-wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-gap: 4px;
  margin: 2px 0;
  align-items: center;
  max-width: 150px;
}

.trials-card-item-text {
  padding-left: 4px;
}

.trials-card-image-container {
  /* height: var(--image-container-height);
  width: var(--image-container-width); */
  margin-right: 4px;
}

.trials-card-image-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: 100%;
  align-items: center;
}

@media screen and (min-width: 600px) {
  :root{
    --image-container-height: 120px;
    --image-container-width: 120px;
  }
}
/*
  Mobile devices:
*/
@media screen and (max-width: 600px) {
  :root {
    --image-container-height: 120px;
    --image-container-width: 120px;
  }
}
