.small-message-wrapper {
    padding: 8px;
    background-color: var(--vanguard-dark-5);
    border: 1px solid var(--vanguard-dark-2);
    border-radius: 5px;
}

.small-message-content{
    padding: 0;
    margin: 0;
}

.small-message-text{
    /* font-size: small; */
    /* color: white; */
    color: rgba(255, 255, 255, 0.7);
}