/* .liked-activity-wrapper{

} */

.liked-activity-heading{
  padding: 10px 100px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.liked-activity-description{
  padding: 4px;
  margin: 4px;
}

.liked-activity-single-wrapper{
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 0 0 20px 0;
  margin: 10px 0;
  min-height: 200px;
}

.liked-activity-sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.liked-activity-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activity-list{
  width:  100%;
}

@media screen and (min-width: 600px) {
  .liked-activity-single-activity{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .liked-activity-list{
    width: 90%;
  }


}
/*
  Mobile devices:
*/
@media screen and (max-width: 600px) {
  .liked-activity-sidebar{
      position: absolute;
      z-index: 0;
      left: 0;
      right: 0;
  }

  .liked-activity-single-activity{
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .liked-activity-list{
    z-index: 1;
  }
}

.pgcr-storage-progress-wrapper{
  display: flex;
  flex-direction: column;
}

.pgcr-storage-wrap{
  margin: 10px;
  padding: 10px;
}
